<link  rel="stylesheet" href="/css/home.css">
<div class="page-content">
	<div class="form-v4-content">
		<div class="form-left">
			<!-- <img src="media2.jpg" class="img-fluid"> -->
			<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="images/uploads/media3.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="images/uploads/media4.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="images/uploads/media2.jpg" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="images/uploads/media4.jpg" class="d-block w-100" alt="...">
					</div>
				</div>
			</div>
		</div>

		
		<form class="form-detail" action="/users/create" method="post" id="2" onsubmit="return ValidationEvent()">
			<h2>CREATE AN ACCOUNT</h2>
			<div class="form-group">

				<div class="form-row form-row-1">
					<input type="text" name="first_name" placeholder="First Name" id="first_name" class="form-control me-1"
						autocomplete="off" />
					<p class="htc" id="htc"></p>

				</div>

				<div class="form-row form-row-1">
					<input type="text" name="last_name" placeholder="Last Name" id="last_name" class="form-control me-1"
						autocomplete="off" />
					<p class="htc" id="cheaklname"></p>
				</div>

			</div>
			<div class="form-row">
				<input type="email" name="email" placeholder="Email" id="email" class="form-control me-1">
				<p class="htc" id="echeak"></p>

			</div>

			<div class="form-row">
				<!-- <input type="date" name="dob"> -->
				<input placeholder="Date Of Birth" name="dob" class="form-control me-1" type="text" onfocus="(this.type='date')"
					id="date">
				<span class="htc" id="enterdate"></span>
			</div><br>

			<div class="form-row2">
				<input type="radio" name="gender" class="input-text" value="male" id="male"> Male
				<input type="radio" name="gender" class="input-text" value="female" id="female"> Female
				<p class="htc" id="gen"></p>
			</div>


			<div class="form-group">
				<div class="form-row form-row-1 ">
					<input type="password" name="password" placeholder="Password" id="password" class="form-control me-1">
				</div>

				<div class="form-row form-row-1">
					<input type="password" name="confirm_password" placeholder="Confirm Password"
						id="confirm_password" class="form-control me-1"><br>
					</div>
				</div>
				<span id="message" class="htc"></span>

			<!-- <div class="form-row-last3">
				<input type="checkbox">
				I accept the <a href="#">Terms&Condition</a>
			</div> -->

			<div class="form-row-last2">
				Already have a account <a href="#" id="hide">Login</a>
			</div>

			<div class="form-row-last">
				<input class="btn btn-primary" id="bthsubmit" type="submit" value="SIGN UP" onclick='checkEmail();'/>
				<!-- <input type="submit" id="bthsubmit" name="register" class="register" value="SIGN UP"
					onclick="validation(event)"> -->
			</div>
		</form>
	</div>
</div>



<!-----------------------------LOGIN------------------------------------>

<div class="page-content">
	<div class="form-v4-content2" id="1">
		<form class="form-detail2" action="/users/login" method="post" id="myform">
			<h2>SIGN IN</h2>
			<div class="form-group">
				<div class="form-row">
					<input type="email" name="email" placeholder="Email" id="email" class="input-text">
					<p class="htc" id="echeck2"></p>
				</div><br>

				<div class="form-group">
					<div class="form-row form-row-1 ">
						<input type="password" name="password" placeholder="Password" id="password"
							class="input-text">
					</div><br>
					<span id="message" class="htc"></span>
					<div class="form-row-last2">
						Create an account <a href="#" id="show">SIGN UP</a>
					</div>

					<div class="form-row-last">
						<input type="submit" name="register" id="bthsubmit" class="register" value="SIGN IN" onclick="validation2(event)">
					</div>
				</div>
		</form>
	</div>
</div>




<!-- <form action="/users/login" method="post">
		<h1>Login Here</h1>
		<input type="text" name="email" placeholder="email" id="">
		<input type="text" name="password" placeholder="password" id="">
		<input type="submit" value="Login">
</form>
<br>
	 -->
<!-- <form action="/users/create" method="POST">
		
	<h1>Sign Up here</h1>
	<input type="text" name="first_name" placeholder="first name" id=""><br>
	<input type="text" name="last_name" placeholder="last name" id=""><br>
	<input type="text" name="email" placeholder="email" id=""><br>
	<input type="text" name="password" placeholder="password" id=""><br>
	<input type="text" name="confirm_password" placeholder="confirm password" id=""><br>
	<input type="radio" name="gender" value="male"  id="">Male
	<input type="radio" name="gender" value="female" id="">Female<br>
	<input type="date" name="dob" id="">
	<input type="submit" value="Submit">
</form> -->