<main>
	<h1> Feed Page</h1>

  <h1>Profile Page</h1>
  <form action="/posts/create" method="POST" 
  enctype="multipart/form-data">
       <input type="file" name="postImage" id="avatar" placeholder="change Photo"><br>
     <textarea name="caption"  placeholder="Write your post" rows="5" cols="50"></textarea>
    <button type="submit">Submit</button>
  </form>
</main>
